<% layout('layouts/boilerplate')%>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Name</label>
            <input type="text" name="campground[title]" id="title" value="<%=campground.title%>">
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location" value="<%=campground.location%>">
            <button>Save Changes</button>
        </div>
    </form>